HELP.md
/backend/api/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


/frontend/trading-page/node_modules
/frontend/trading-page/.pnp
/frontend/trading-page/.pnp.js
/frontend/trading-page/coverage
/frontend/trading-page/build

/frontend/trading-page/.DS_Store
/frontend/trading-page/.env.local
/frontend/trading-page/.env.development.local
/frontend/trading-page/.env.test.local
/frontend/trading-page/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/